.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__main-block {
  width: 80%;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin: 50px 0;
}

.home__main-block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  min-height: 50px;
  height: fit-content;
}

.home__main-block-header-sort {
  margin: 0 10px;
}

.home__main-block-btn--active {
  border-bottom: 1px solid white;
}

.home__pagination {
  margin-bottom: 50px;
}
